@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.banner{
	background-image: url("http://wallpaper-gallery.net/images/blue-background/blue-background-3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
}

.banner h1{
	color: white;
	margin: 10px;
}

.banner a{
	color: white;
}

.banner input {
	margin: 8px;
}

.listings{
	display: flex;
	flex-wrap: wrap;
}

.singleItem {
	width: 20%;
	padding: 2px;
}

.detail-page .title {
	font-size: 30px;
	color: rgb(65, 65, 200);
	font-family: comic sans ms;
}

.detail-page .description {
	max-width: 40%;
}